html, body {
  background-color: #aaa;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  background: #171a17;
  color: #b3d4fc;
  /*position: fixed;*/
  /*top: 0px;*/
}

nav a {
  color: #a1afc0;
  text-decoration: none;
}

a {
  color: #a1afc0;
}

/*form {*/
/*  background-color: #171a17;*/
/*}*/

input, textarea, select {
  background-color: #293124;
  border-color: #171a17;
  color: white;
}

nav ul {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 14px;
  margin: 0;
}

#content {
  width: 80%;
  background: #293124;
  float: right;
  padding: 1%;
  overflow: hidden;
  margin: 0 2% 1% 0;
  color: #a1afc0;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  min-height: calc(100% - 52px);
  padding: 1%;
  background: #171a17;
}

img.small {
  /*max-height: 20vw;*/
  max-width: 20vw;
  max-height: 250px;
  /*height: fit-content;*/
  float: right;
}

header {
  padding: 5px 0 5px 0;
  margin: 0 2% 1% 0;
  background-color: #293124;
}

header h1 {
  color: #b3d4fc;
  text-align: center;
}

#content h1 {
  color: #a1afc0;
  width: 100%;
  margin-bottom: 2px;
}

#content h1 + p {
  margin-top: 0;
}

footer {
  height: 50px;
  background: #000;
  color: #fff;
  margin: 10px auto 0;
  padding: 5px;
  font-size: 15px
}

th {
  border: 2px solid;
}
table.bordered {
  border: 1px solid;
}

table.bordered td {
  border: 1px solid;
}

.fit-space {
  width: fit-content;
  max-width: 100%;
  max-height: 100%;

}

.flex-container {
  display: flex;
}

.flex-element {
  min-width: fit-content;
}
