html, body {
  background-color: #aaa;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  background: #171a17;
  color: #b3d4fc;
  width: 15%;
  word-wrap: break-word;
}

nav a {
  text-decoration: none;
}

.active {
  color: #b3d4fc;
  font-weight: bold;
}

a {
  color: #a1afc0;
}

input, textarea, select {
  background-color: #293124;
  border-color: #171a17;
  color: white;
}

nav ul {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 14px;
  margin: 0;
}

#content {
  width: 80%;
  float: right;
  padding: 1%;
  overflow: hidden;
  margin: 0 2% 1% 0;
}

#content, .ui-tabs, .ui-tabs-panel, .ui-tabs-nav, .ui-tab {
  background: #293124;
  color: #a1afc0;
}

.ui-tabs, .ui-tabs-panel, .ui-tabs-nav, #tabs {
  border-color: black;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  min-height: calc(100% - 52px);
  padding: 1%;
  background: #171a17;
}

img.small {
  max-width: 20vw;
}

.game-list-grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.game_description > h1 + p::first-letter {
  font-weight: bold;
}

header {
  padding: 5px 0 5px 0;
  margin: 0 2% 1% 0;
  background-color: #293124;
}

#content a:visited {
  color: #686868;
}

header h1 {
  color: #b3d4fc;
  text-align: center;
}

#content h1 {
  color: #a1afc0;
  width: 100%;
  margin-bottom: 2px;
}

#content h1 + p {
  margin-top: 0;
}

footer {
  height: 50px;
  background: #000;
  color: #fff;
  margin: 10px auto 0;
  padding: 5px;
  font-size: 15px
}

th {
  border: 2px solid;
}

table.bordered {
  border: 1px solid;
}

table.bordered td {
  border: 1px solid;
}

td + td {
  text-align: center;
}

.survey_table td {
  text-align: left;
}

.survey_table input {
  border-color: #a1afc0;
}

input[type=button] {
  border-color: #a1afc0;
}

.form-warning {
  color: red;
  font-size: 15px;
}

.form-ok-notification {
   color: lawngreen;
   font-size: 20px;
 }

.gallery-grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 10px;
  align-items: center;
}

.gallery-grid-item img:hover {
  animation-name: almost_selected;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.gallery-pagination {
  font-size: 20px;
}

#content .gallery-pagination a:visited {
  color: #a1afc0;
}

.maximized {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 70vw;
  max-height: 70vh;
  margin-top: auto;
  margin-bottom: auto;
}

@keyframes almost_selected {
  from {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.5;
  }
  to {
    transform: scale(1.07, 1.07);
    opacity: 1;
  }
}

img.gallery-item {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

#back_to_gallery_button {
  display: none;
  text-align: center;
}

#svg-dice {
  float: right;
}

@media (max-width: 1200px) {
  .gallery-grid-container {
    grid-template-columns: auto auto auto auto
  }
}

@media (max-width: 900px) {
  .gallery-grid-container {
    grid-template-columns: auto auto auto
  }
}

@media only screen and (max-width: 600px) {
  nav {
    width: 88%;
    position: absolute;
    text-align: center;
  }

  nav ul::before {
    content: "|"
  }

  nav ul li {
    display: inline;
  }

  nav ul li::after {
    content: " |";
  }

  nav ul li ul {
    display: none
  }

  #content {
    width: 98%;
    position: relative;
    top: 15px;
    margin-top: 5%;
  }

  .gallery-grid-container {
    grid-template-columns: auto;
  }

  img.small {
    display: none;
  }

  .game-list-grid-container {
    display: inline-grid;
    grid-template-columns: auto;
    column-gap: 10px;
  }

}
